
/* App.jsx */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  /* index.js */
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


/* Navbar.jsx */

.NavbarItems {
    background: linear-gradient(45deg ,rgba(49, 49, 49, 0.309),rgba(90, 90, 90, 0.202));
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:fixed;

}


.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #c3c3c35f;
    border-radius: 4px;
    transition: all 0.4s ease-out;
}


.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }

}

/* Home.jsx */

.home-primary{
    background-image:url("https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.home-info {
    padding-top: 10em ;
}

.home-info h1{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 3em;
}
.home-info p{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
}
.home-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.home-icon i{
    padding: 0.5em;
    color: black;
}

/* About.jsx */

.about-primary{
    background: linear-gradient(45deg ,rgb(211, 211, 211),rgb(234, 118, 151));
    height: 120vh;
    background-size:cover;
    background-repeat: no-repeat;
}
.about-primary h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vw;
    color:white;
}
.about-info{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    justify-content:center;
    align-items: center;
    display: flex;
}
.introduction{
    margin-top: 2em;
    width: 25%;
    background:linear-gradient(90deg, rgba(197, 196, 196, 0.3),rgba(156, 156, 156, 0.399), rgba(237, 237, 237, 0.22));
    font-size: 18px;
    border-radius: 10px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 30em;
}


.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #b99accb4,#f440dcb4) ;
    border-radius: 25px 25px 0 25px;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #cd8ef2;
  }
  .name{
    font-size: 23px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    width: 80%;
    padding-top: 2em;
  }
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 20px;
  background-color: #e840f4a0;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.name{
    font-weight: bolder;
}

/* Skills.jsx */

.skills-primary{
    background: linear-gradient(45deg ,rgb(211, 211, 211),rgb(6, 96, 84));
    height: 120vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.skills-primary h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vw;
    color:white;
}

.skills-info{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 4vw;
    font-size: 23px; 
}
.skill{
    padding:0vw 3vw;
}

.skills-info img{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-info li{
    padding: 1.8em;
    color: white;
    font-weight: 400;
}


/* Projects.jsx */

.projects-primary{
    background: linear-gradient(45deg ,rgb(211, 211, 211),rgb(73, 5, 19));
    height: 120vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.projects-primary h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vw;
    color:white;
}
.projects-info{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 4vw;
    font-size: 23px;
}

.project-card{
    border-radius: 25px;
    background-color: #FFF;
    width: 20%;
    height: 20em;
    margin :0em 4em;
  }
  .project-container ul{
    flex-direction: row;
    margin : 4em;
  }

  .project-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .project-overlay::before,
.project-overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 20px;
  background-color: #46c2dea0;
}
.project-overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.project-name{
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-description{
    font-size: 16px;
    color: #707070;
    text-align: center;
    width: 80%;
    padding-top: 2em;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
  }
  .project-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #dceff4b4,#40c4f4b4) ;
    border-radius: 25px 25px 0 25px;

  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #cd8ef2;
  }

  /* Contact.jsx */
  .contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}
.contact-icon i{
    padding: 1em;
    padding-top: 3em;
    color: rgb(255, 255, 255);
}
.copyright p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vw;
    color: white;
    font-weight: bold;
}